@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --black-color: #111114;
    --green-color: #299f29;
    --red-color: #c02222;
    --blue-color: #404388;
    --white-color: #eaf8ea;
    --border: 0.1rem solid black;
}

* {

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 ease;

}

/*first page start*/
.header {


    background-color: black;
    align-items: center;
    justify-content: space-between;
    width: 132rem;
    padding-bottom: 1.4rem;
    padding-top: 1.7rem;
    margin: 2rem 5.4%;
    margin-bottom: 0.5rem;
    border: 0.1rem solid;
    border-bottom-color: #d6d6d6;
    display: flex;
}

#logo {
    display: flex;

}

.header img {
    width: 9.8rem;
    height: 9.3rem;
    border: 0.1rem black solid;
    border-radius: 8rem;
}

.paraqraf {
    color: #f0f0fd;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    padding-top: 2.8rem;
}

#paraqraf p {
    color: aliceblue;
    font-size: 1.5rem;
    border: 0.1rem solid rgb(220, 12, 12);
    background-color: #db1b1b;
    padding: 1rem 1.7rem;
}

html {
    font-size: 62.5%;
    background-color: black;



}

body {
    overflow: scroll;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
}

body::-webkit-scrollbar {
    width: 1.2rem;
    background-color: #f0f0fd;
}

body::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: var(--black-color);
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}


.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 5%;
    border: 0.1rem solid;
    padding: 0px 0px;
}

.navbar {
    font-size: 1.2rem;
    color: #eaf8ea;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {

    padding: 0px 0.8rem;
}

a {
    color: white;
}

.paraqraf2 p {
    color: antiquewhite;
    font-size: 1.3rem;
    padding-left: 1.5rem;
}

.button img {
    padding: 0px 0px;
    border: 0.1rem solid #c31616;
    background: #c31616;
    border-radius: 6rem;
    width: 2.3rem;
    height: 2.3rem;
}

.icon {
    display: flex;
    padding-top: 1rem;

}

.image1 img {
    height: 55rem;
    width: 72.5rem;
    padding: 0rem 10rem;
    padding-top: 13.5rem;
    padding-right: 0rem;
    padding-left: 29.5rem;
    border: 0.1rem solid black;
    float: left;
}

.paraqraf3 p {
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 4.1rem;
    padding-top: 24rem;
    padding-right: 0rem;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 5.4rem;
    text-align: start;
    padding-left: 3.5rem;
}

.paraqraf4 {
    color: antiquewhite;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding-left: 3.6rem;
    padding-top: 3rem;
}

.button1 {
    display: inline-block;
    display: flex;
    border: 0.1rem solid rgb(214, 35, 45);
    border-radius: 0.8rem;
    width: 20.3rem;
    height: 5.6rem;
    text-align: center;
    background-color: rgb(214, 35, 45);
    padding: 1rem 1rem;
    padding-left: 2.5rem;
    padding-top: 1.3rem;
    margin-left: 125.8rem;
    margin-top: 3.8rem;

}

.icon1 img {
    width: 3.6rem;
    height: 3.4rem;
    border: 0.1rem solid rgb(214, 35, 45);
    border-radius: 2rem;
    padding-right: 0.5rem;


}

.button2 button {
    background-color: rgb(214, 35, 45);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.8rem;

}

/*first page end*/



/*Second page start*/

.image2 img {
    margin-top: 12rem;
    height: 48.25rem;
}

.box {
    display: flex;
    margin-top: 10.25rem;
    margin-left: 10rem;
}

.box1 {
    display: inline-block;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid white;
    width: 40.75rem;
    height: 66.99rem;
    margin-right: 3.5rem;
}

.box1 img {
    width: 40.5rem;
    height: 40.5rem;
}

.box1 a {
    color: antiquewhite;
    border: 0.1rem solid black;
    border-bottom-color: white;
    width: 35rem;
    margin-left: 3rem;
    height: 9.25rem;
    font-size: 2.15rem;
    padding-left: 0.2rem;
    padding-top: 3rem;
}

.box1 p {
    display: inline-block;
    color: antiquewhite;
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 2.8rem;
    line-height: 2.85rem;
}

.box1 button {
    display: inline-block;
    height: 3.56rem;
    width: 13.28rem;
    margin-left: 3rem;
    margin-top: 2.7rem;
}

.box2 {
    display: inline-block;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid white;
    width: 40.65rem;
    height: 66.99rem;
    margin-right: 3.5rem;
}

.box2 img {
    width: 40.5rem;
    height: 40.5rem;
}

.box2 a {
    color: antiquewhite;
    border: 0.1rem solid black;
    border-bottom-color: white;
    width: 35rem;
    margin-left: 3rem;
    height: 9.25rem;
    font-size: 2.15rem;
    padding-left: 0.2rem;
    padding-top: 3rem;
}

.box2 p {
    display: inline-block;
    color: antiquewhite;
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 2.8rem;
    line-height: 2.85rem;
}

.box2 button {
    display: inline-block;
    height: 3.56rem;
    width: 13.28rem;
    margin-left: 3rem;
    margin-top: 2.7rem;
}


/*Second page start*/



/* Third page start*/
#contact-us {
    color: white;
    font-size: 1.27rem;
    margin-left: 27.2rem;
    display: inline-block;
}

.paraqraf6 {
    font-size: 4rem;
    color: rgb(223, 39, 48);
    font-weight: bold;
    margin-bottom: 2.34rem;
}

.paraqraf7 {
    margin-bottom: 2.4rem;
    line-height: 2.6rem;
}

.paraqraf8 {
    line-height: 4.6rem;
}

.form {
    display: inline-block;
    margin-top: 0rem;
    margin-left: 3rem;
    color: white;
    margin-right: 28rem;
}

.form div {
    margin-top: 0.7rem;
}

.form input {
    background-color: black;
    border-bottom: 0.1rem solid white;
    width: 45rem;
    height: 5rem;
    color: white;
}

.form textarea {
    background-color: black;
    border-bottom: 0.1rem solid white;
    width: 45rem;
    height: 12.5rem;
    color: white;
}

.form label {
    font-size: 1.3rem;
}

.button3 {
    width: 45rem;
    height: 5rem;
    background-color: white;
    margin-top: 2.2rem;
}

.third-page {
    display: flex;
    justify-content: space-between;
    margin-top: 10.3rem;
}

/* Third page end*/

/*Maps start*/

.map iframe {
    width: 94.2rem;
    height: 46.5rem;
    margin-top: 42.1rem;
    margin-left: 27.3rem;
}

/*Maps end*/



/*footer start*/
.paraqraf9 {
    color: white;
    text-align: center;
    font-size: 1.35rem;
    margin-top: 9.5rem;
    line-height: 6.5rem;
    margin-bottom: 2rem;
}

/*footer end*/